.logo{
  color: yellow;
  font-family: cursive;
  margin-right: 300px;
}
.navbar{
position: fixed;
width: 100%;
}
.nav-item {
font-size: large;
margin-left: 50px;
color: white;

}
.nav-item:hover{
    background: yellow;
    color: black;
    border-radius: 2px;
}
.logo:hover{
color: white;    
}
.con{
    background: #000;
    background-attachment: fixed;
}
/* .con{
    width: 100%;
    background-image: 'url("https://tse3.mm.bing.net/th?id=OIP.ybCBMVf-GzM74IqGEITAbQAAAA&pid=Api&P=0&h=180")';
    width: '100%';
    background-size: 'cover';
    background-repeat: 'no-repeat';
} */